In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect("../mydb.db")

cursor = connection.cursor()

## Questions I'd like to answer

2) What is the average chance of admission for each university rating?
2) What is the average GRE score of a student highly likely to be admitted to the highest rated university? (let's call highly likely >90%)
3) How many students with research have a <50% chance of admission?
4) How many students with a GRE score <320 have a >75% chance to be admitted to any university?
5) What is the mean toefl score of students who apply to the highest rated universities?

### QUERY 1

In [3]:
# write a sql query to find the average chance of admit for each university rating
cursor.execute("""

select university_rating, avg(chance_of_admit) from college_admissions group by university_rating


""").fetchall()

[(1, 0.5480769230769232),
 (2, 0.6259813084112147),
 (3, 0.7118796992481206),
 (4, 0.8181081081081082),
 (5, 0.8881666666666668)]

### QUERY 2

In [4]:
# write a sql query to find the average GRE score of a student highly likely to be admitted to the highest rated university? (let's call highly likely >90%)

cursor.execute("""
select avg(gre) from college_admissions where university_rating = 5 and chance_of_admit > 0.9
""").fetchall()

[(332.5625,)]

### QUERY 3

In [5]:
# write a sql query to find how many students with research have a <50% chance of admission?

cursor.execute("""
select count(*) from college_admissions where research = 1 and chance_of_admit < 0.5
""").fetchall()

[(6,)]

### QUERY 4

In [6]:
# sql query to find How many students with a GRE score <320 have a >75% chance to be admitted to any university?

cursor.execute("""
select count(*) from college_admissions where gre < 320 and chance_of_admit > 0.75
""").fetchall()

[(26,)]

### QUERY 5

In [7]:
# sql query to find the mean toefl score of students who apply to the highest rated universities?

cursor.execute("""
select avg(toefl) from college_admissions where university_rating = 5
""").fetchall()

[(113.66666666666667,)]