In [1]:
import sqlite3
import pandas as pd

In [5]:
df = pd.read_csv("adm_data.csv", names = ["serial_no", "gre", "toefl", "university_rating", "sop", "lor", "cgpa", "research", "chance_of_admit"], header=0)
df.head()

,serial_no,gre,toefl,university_rating,sop,lor,cgpa,research,chance_of_admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [8]:
cursor.execute("drop table if exists college_admissions")

In [9]:
connection = sqlite3.connect("mydb.db")

create_sql = "create table if not exists college_admissions (serial_no int PRIMARY_KEY, gre int, toefl int, university_rating int, sop float, lor float, cgpa float, research int, chance_of_admit float);"
cursor = connection.cursor()
cursor.execute(create_sql)

In [10]:
df.to_sql("college_admissions", connection, if_exists="replace", index=False)

400

In [12]:
cursor.execute("select serial_no from college_admissions limit 5").fetchall()

[(1,), (2,), (3,), (4,), (5,)]